<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.stu.cusview.ruiz.rx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".convert.WindowOpActivity"></activity>
        <activity android:name=".convert.ScanOpActivity" />
        <activity android:name=".convert.GroupByOpActivity" />
        <activity android:name=".convert.BufferOpActivity" />
        <activity android:name=".convert.ContactMapActivity" />
        <activity android:name=".convert.FlatMapActivity" />
        <activity android:name=".convert.MapOpActivity" />
        <activity android:name=".convert.ConvertEntranceActivity" />
        <activity android:name=".create.OtherOpActivity" />
        <activity android:name=".create.RangeLongActivity" />
        <activity android:name=".create.RangeOpActivity" />
        <activity android:name=".create.IntervalRangeActivity" />
        <activity android:name=".create.IntervalOpActivity" />
        <activity android:name=".create.TimerOpActivity" />
        <activity android:name=".create.DeferActivity" />
        <activity android:name=".create.FromIterableActivity" />
        <activity android:name=".create.FromFutureActivity" />
        <activity android:name=".create.FromCallableActivity" />
        <activity android:name=".create.FromOpActivity" />
        <activity android:name=".create.JustOpActivity" />
        <activity android:name=".create.CreateOpActivity" />
        <activity android:name=".create.CreateEntrancwActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>